body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}
canvas {
    display: block;
}


div#main {
    display: block;
    width: 50vw;
    margin: auto;
}