---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head class="page-header" role="banner">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <canvas id="container"></canvas>
    <script src="/script.js"></script>

    <div id="main" class="main-content" role="main">
        <div id="nav-bar">
            <div id="nav-home" class="nav-item"><a href="/"><img src="/src/images/home.jpg"/></a></div>
        </div>
        {{ content }}
    </div>
</body>
</html>
